<!DOCTYPE html>
<html>
<head>
    <title>Django Blog App</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Blog App</a></h1>
    </div>

    <div>
        <p>published: 7/2/2019, 15:42</p>
        <h2><a href="">My first post</a></h2>
        <p>Pain is temporary but glory is forever</p>
    </div>

    <div>
        <p>published: 08.02.2019, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>To shine like a sun you have to burn like one.</p>

    </div>
    </body>
</html>

